.theHeader {
	width: 100%;
	background: grey;
	height: 60px;
	float: left;
}

div {
	width: 20%;
	float: left;
}

.menu {
	width: 80%;
	background: grey;
	height: 60px;
	float: left;
	overflow: auto;
}	

.menulist {
	width: 20%;
	background: white;
	height: 60%;
	float:left;
	overflow: auto;
}
/*how do I make each item on the list to be placed next to each other rather than on top of each other?*/

.theMain {
	width: 100%;
	background: green;
	height: 80px;
	color: yellow;
	height: 100px;
/* why is the height of the main larger than the .meny however on the webpage it shows smaller??*/
}

.ul {
	width: 100%;
	background: pink;
	float: left;
	margin: 10px auto 10px auto;

}

.li {
/*should I use .li or the tag li?*/
	width: 50%;
	background: purple;
	padding: 10px;
	float: left;
	margin: 10px auto 10px auto;
}

.theFooter {
	width: 100%;
	background: teal;
	height: 60px;
	/* why is the background turning teal around the boxes and the articles? */
	/* why is the height breaking the footer line?*/
}
